.font-header {
  font-size: 32px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
}

.font-title {
  font-size: 28px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
}

.font-medium {
  font-size: 20px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
}

.font-small{
  font-size: 12px;
}

.tag-link{
  text-decoration: none;
  background-color: #ACEEF3;
  border-radius: 5px;
  color: #000000;
  padding: 3px;
}

.font-color-ligth-green {
  color: #68C5B2;
}

.font-color-orange {
  color: #FFB067;
}

.font-color-white {
  color: white;
}

.a-white {
  color: white;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-style: normal;
}

.a-black {
  color: #000000;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-style: normal;
}

.a-white:hover {
  color: #dacfcf;
}

.a-black:hover {
  color: #3f3737;
}

.tag-font {
  font-size: 14px;
}

.tag-font a {
  color: #3f3737;
  text-decoration: none;
}

.tag-font a:hover {
  text-decoration: underline;
}

.list-page-content li a {
  color: rgb(112, 112, 112);
  font-weight: 600;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .font-header {
    font-size: 28px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
  }

  .font-title {
    font-size: 24px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
  }

  .font-medium {
    font-size: 18px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .font-header {
    font-size: 24px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
  }

  .font-title {
    font-size: 20px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
  }

  .font-medium {
    font-size: 14px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
  }
}