<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <th:block th:replace="fragments/header :: header_links"></th:block>
    <title>Past Simple | SIH</title>
    <!--sec:authorize="hasAuthority('ROLE_ADMIN')"-->
</head>

<body>
<div class="container-body position-relative">
    <nav th:replace="fragments/navBar :: nav"></nav>
    <div class="col-12 row mx-0 justify-content-center">

        <div class="row justify-content-center p-y-3">
            <div class="col-12 col-md-11 col-lg-10 row m-0">
                <header class="row mt-5">
                    <p class="font-header"><strong>Future Continuous</strong> </p>
                    <p class="font-medium"><strong>Майбутній тривалий час</strong> </p>
                </header>
                <div class="row mt-5 justify-content-center">

                    <div class="col-12">
                        <p class="font-title"><strong>Вміст статті</strong> </p>
                        <ul class="list-group list-group-flush list-page-content" id="page-content">
                            <li class="list-group-item px-0"><a href="#scrollspyHeading1">Загальні правила
                                формування</a> </li>
                            <li class="list-group-item px-0"><a href="#scrollspyHeading3">Використання Future
                                Continuous
                            </a></li>
                            <li class="list-group-item px-0"><a href="#scrollspyHeading4">Часові форми, що
                                використовуються у Future Continuous</a></li>
                            <li class="list-group-item px-0"><a href="#scrollspyHeading5">Рекомендації</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 position-relative" id="scrollspyHeading1">
                    <p class="font-title"><strong>Загальні правила формування</strong> </p>
                    <p class="m-t-1">

                        <strong>Future Continuous</strong> – майбутній тривалий час в англійській мові. Вказує на
                        процес, що буде
                        відбуватися в майбутньому в певний проміжок часу. На відміну від <strong>Future
                        Simple</strong>, цей момент у
                        часі має бути названим точно або бути зрозумілим з контексту. Нижче детально розглянуто
                        правила утворення Future Continuous у стверджувальному, заперечному та питальному реченнях,
                        є таблиця з допоміжними словами та наведено випадки вживання майбутнього тривалого часу за
                        різних обставин.
                    </p>
                </div>
                <div class="row mt-5 position-relative col-12">
                    <p class="font-medium"><strong>Стверджувальне речення</strong></p>
                    <p class=" m-t-1">Future Continuous (Future Progressive) утворюється за допомогою допоміжного
                        дієслова will (рідше shall для I та We) та форми тривалого інфінітиву (be + дієслово з
                        закінченням -ing).

                        Will в сучасній англійській мові вживається для всіх осіб однини та множини.
                        Shall використовується з першою особою I, We, але його використання зараз вважається
                        застарілим.

                        В сучасній англійській для всіх осіб будь-якого числа використовується тільки will й це не
                        вважається помилкою. Але shall ще можна зустріти в газетах, старих або офіційних текстах, в
                        художній літературі.</p>
                    <div class="row mt-5">
                        <div class="col-1"></div>
                        <div class="col-10 gremma-left-border fst-italic">
                            <p>I<span class="font-color-ligth-green"> shall be working</span> here. – Я буду тут
                                працювати.</p>
                            <p>He<span class="font-color-ligth-green">will be drinking</span>tea with us. – Він буде
                                пити з нами чай.</p>
                            <p>We <span class="font-color-ligth-green">will be dancing</span> all night. – Ми будемо
                                танцювати всю ніч.</p>
                        </div>
                    </div>
                    <div class="row p-3 background-light-blue mt-5">
                        <p class=""><strong>Зверніть увагу</strong> на те, що є різні правила додавання
                            <strong>закінчення -ing</strong>
                            до дієслів.
                            Рекомендуємо
                            ознайомитись з окремою <a href="#">статтею на цю тему</a>.
                        </p>
                        <div class="row justify-content-center">
                            <div class="col-10 mt-5">
                                <p>to enter - enter<span class="font-color-ligth-green">ing</span></p>
                                <p>to lie - l<span class="font-color-ligth-green">ying</span> </p>
                                <p>to take → tak<span class="font-color-ligth-green">ing</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <p class="font-medium"><strong>Заперечне речення</strong> </p>
                        <p class=" m-t-1">Заперечення в Future Continuous утворюється за допомогою додавання частки
                            not після дієслова will або shall.
                        </p>
                        <div class="row mt-5">
                            <div class="col-1"></div>
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>I <span class="font-color-ligth-green">will not be</span>working here. – Я не
                                    буду працювати тут.</p>
                                <p>He <span class="font-color-ligth-green">will not be</span>drinking tea with us. –
                                    Він не буде пити з нами чай.</p>
                                <p>We <span class="font-color-ligth-green">will not be</span> dancing all night. –
                                    Ми не будемо танцювати всю ніч.
                                    <span class="font-color-ligth-green">will not = won't</span> (скорочення)
                                </p>
                                <p>We <span class="font-color-ligth-green">shan’t be</span> dancing all night. – Ми
                                    не будемо танцювати всю ніч.</p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-10">
                                <p class="text-center background-light-blue mt-3 p-1">will not = won't</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <p class="font-medium"><strong>Питальне речення</strong> </p>
                        <p class=" m-t-1">Загальне питання в <strong>Future Continuous</strong> утворюється за
                            допомогою винесення
                            допоміжного дієслова <strong>will</strong> (або <strong>shall</strong>) на початок
                            речення перед підметом.
                        </p>
                        <div class="row mt-5">
                            <div class="col-1"></div>
                            <div class="col-10 gremma-left-border fst-italic">
                                <p><span class="font-color-ligth-green">Will</span> I be working here? – Я буду тут
                                    працювати?</p>
                                <p><span class="font-color-ligth-green">Will</span> he be drinking tea with us? –
                                    Він буде пити з нами чай?</p>
                                <p><span class="font-color-ligth-green">Will</span> we be dancing all night? – Ми
                                    будемо танцювати всю ніч?</p>
                            </div>
                        </div>
                        <p class="mt-5">Спеціальне питання в <strong>Future Continuous</strong> утворюється за
                            допомогою питального
                            слова або фрази, що ставиться в самий початок речення. Подальший порядок слів такий
                            самий, як і в загальному питанні для <strong>Future Continuous</strong>.</p>
                        <div class="row justify-content-center mt-5">
                            <div class="col-10">
                                <p><span class="font-color-ligth-green">What will</span> I be doing here? – Що я
                                    буду тут робити?
                                </p>
                                <p><span class="font-color-ligth-green">Whom will</span> he be drinking tea with? –
                                    З ким він буде пити чай?
                                </p>
                                <p><span class="font-color-ligth-green">How long will</span> we be dancing? – Як
                                    довго ми будемо танцювати?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5" id="scrollspyHeading3">
                        <p class="font-title"><strong>Використання Future Continuous
                        </strong> </p>
                        <p class="font-medium mt-5"><strong>Тривала дія в певний проміжок часу в
                            майбутньому</strong>
                        </p>
                        <p class=" mt-3"><strong>Future Continuous</strong> використовується для опису дій, що
                            будуть відбуватися в
                            конкретний, точно відомий момент або ж проміжок часу в майбутньому.
                        </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>I will be waiting for you here <span class="font-color-ligth-green">at 9
                                            a.m.</span> tomorrow. – Я буду чекати тебе тут завтра о 9-ій ранку.</p>
                                <p>Tom will be playing football <span class="font-color-ligth-green"> all day</span>
                                    next Sunday. – Том буде грати в футбол протягом всієї наступної неділі.</p>
                                <p><span class="font-color-ligth-green">This time</span> next week I will be flying
                                    to Berlin. – В цей же час наступного тижня я бути летіти в Берлін.</p>
                            </div>
                        </div>
                        <p class=" mt-5">Точний момент часу в <strong>Future Continuous</strong> може уточнюватися
                            іншою, менш тривалою дією, що виражена в Present Simple.

                        </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic fst-italic">
                                <p>I will be cooking dinner <span class="font-color-ligth-green"> when she
                                            leaves.</span> – Я буду готувати обід, коли вона піде.</p>
                                <p>He will be washing the car <span class="font-color-ligth-green"> when the postman
                                            comes</span> . – Він буде мити машину, коли прийде листоноша.</p>
                                <p>They will be watching the game <span class="font-color-ligth-green">when the rain
                                            starts</span> . – Вони будуть дивитися гру, коли піде дощ. </p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Одночасні дії в майбутньому</strong> </p>
                        <p class="mt-3"><strong>Future Continuous</strong> також використовується для описання
                            кількох тривалих дій в
                            одному реченні, що будуть відбуватися одночасно в майбутньому. </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>I will be making cocktails and Ann will be meeting guests. – Я буду робити
                                    коктейлі, а Анна буде зустрічати гостей.</p>
                                <p>Jane will be listening to music, Jake will be reading a book. – Джейн буде
                                    слухати музику, а Джейк буде читати книгу.
                                </p>
                                <p>They will be sitting, watching movie and eating a pie. – Вони будуть сидіти,
                                    дивитися фільм та їсти пиріг.</p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Події, що обов'язково відбудуться</strong> </p>
                        <p class="mt-3"><strong>Future Continuous</strong> використовується для описання події, що
                            неодмінно
                            відбудеться в найближчому майбутньому, так як вона була спланована або неминуча через
                            певні обставини.</p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>I saw the news. It will be raining tomorrow. – Я дивився новини: завтра буде дощ.
                                </p>
                                <p class="mt-1">We have made a deal. I shall be working instead of her next month. –
                                    Ми уклали угоду. Я буду працювати замість неї наступного місяця.</p>
                                <p class="mt-1">We have made an arrangement. I will be meeting her soon. – Ми
                                    домовились – я її скоро зустріну.</p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Заплановані дії</strong> </p>
                        <p class="mt-3"><strong>Future Continuous</strong> може бути використаним, щоб повідомити
                            про заплановані
                            дії, що повинні відбутися найближчим часом, однак в сучасній англійській для цього
                            частіше використовується час Present Continuous </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>She <span class="font-color-ligth-green">will be meeting</span> Jake’s parents
                                    this evening. – Вона зустрічається з батьками Джейка сьогодні ввечері.</p>
                                <p class="mt-1">She <span class="font-color-ligth-green">is meeting</span> Jake’s
                                    parents this evening. – Вона зустрічається з батьками Джейка сьогодні ввечері.
                                </p>
                                <p class="mt-1">Lara <span class="font-color-ligth-green">will be flying</span> to
                                    New York next morning. – Лара летить до Нью-Йорка наступного ранку.</p>
                                <p class="mt-1">I <span class="font-color-ligth-green">will be visiting</span> the
                                    party tonight. – Я відвідаю вечірку сьогодні
                                    ввечері.</p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Ввічливе питання про плани на майбутнє</strong> </p>
                        <p class="mt-3"><strong>Future Continuous</strong> може використовуватися для того, щоб
                            задати ввічливе питання про чиїсь дії або плани на найближче майбутнє.</p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p><span class="font-color-ligth-green">Will</span> you <span
                                        class="font-color-ligth-green">be using</span> this book for long? – Ти
                                    довго будеш користуватися цією книгою?</p>
                                <p class="mt-1"><span class="font-color-ligth-green">Will</span> your sister <span
                                        class="font-color-ligth-green">be visiting</span> you? – Твоя сестра
                                    відвідає тебе?</p>
                                <p class="mt-1"><span class="font-color-ligth-green">Will</span> she <span
                                        class="font-color-ligth-green">be staying</span> here for long? – Вона буде
                                    довго тут залишатися?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <p class="font-title" id="scrollspyHeading4"><strong>Часові форми, що використовуються у
                            <strong>Future Continuous</strong>
                        </strong> </p>
                        <p class="mt-5"><strong>Future Continuous</strong> використовується , якщо на питання
                            <strong>«коли це буде відбуватися?»</strong> можна вказати точний, конкретний час у
                            майбутньому.</a>
                            .
                        </p>
                        <div class="row mt-5 justify-content-center fst-italic">
                            <div class="col-10">
                                <p>at 5 o'clock – о 5-ій годині</p>
                                <p>at that moment – в той момент</p>
                                <p>this time tomorrow – в цей час завтра</p>
                                <p>the same time next week – в цей самий час наступного тижня</p>
                                <p class="mt-3">meanwhile – тим часом, в той час, коли</p>
                                <p>in the meantime – тим часом, між тим, в той же час</p>
                                <p>meantime – тим часом, між тим</p>
                                <p class="mt-3">from two till three – з другої до третьої</p>
                                <p>during this time – протягом цього часу</p>
                                <p>for months – за декілька місяців, протягом декількох місяців</p>
                                <p>the whole year – весь рік, цілий рік</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <p class="font-title fw-bold" id="scrollspyHeading5">Рекомендації</p>
                        <div class="row p-0 m-0 mt-5 justify-content-between">
                            <p class="fw-bold font-medium">
                                Матеріали, які варто дослідити
                            </p>
                            <th:block th:if="${test_list}">
                                <div class="col-12 row m-0">
                                    <th:block th:each="test, state : ${test_list}">
                                        <div class="col-4">
                                            <div class="card">
                                                <div class="card-header btn-tests p-2">
                                                    <p><a th:href="@{/testing/{id}(id=${test.getId})}" style="color: white;" th:text="${test.getTest_name}"></a></p>
                                                </div>
                                                <div class="card-body p-2">
                                                    <p class="" th:text="${test.getTest_description}"></p>
                                                    <p class="tag-font"><a href="#">PastSimple</a> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                            <th:block th:th:unless="${test_list}">
                                <p>Зараз немає доступних матеріалів на цю тему</p>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
        <div class="navigation-bar "></div>
    </div>
</div>
<script src="../bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
<script src="arrow_rotate.js"></script>
</body>

</html>