<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <th:block th:replace="fragments/header :: header_links"></th:block>
    <title>Past Simple | SIH</title>
    <!--sec:authorize="hasAuthority('ROLE_ADMIN')"-->
</head>

<body>
<div class="container-body position-relative">
    <nav th:replace="fragments/navBar :: nav"></nav>
    <div class="col-12 row mx-0 justify-content-center">

        <div class="row justify-content-center p-y-3">
            <div class="col-12 col-md-11 col-lg-10 row m-0">
                <header class="row mt-5">
                    <p class="font-header"><strong>Past Continuous</strong> </p>
                    <p class="font-medium"><strong>Минулий тривалий час</strong> </p>
                </header>
                <div class="row mt-5 justify-content-center">

                    <div class="col-12">
                        <p class="font-title"><strong>Вміст статті</strong> </p>
                        <ul class="list-group list-group-flush list-page-content" id="page-content">
                            <li class="list-group-item px-0"><a href="#scrollspyHeading1">Загальні правила
                                формування</a> </li>
                            <li class="list-group-item px-0"><a href="#scrollspyHeading3">Використання Past Continuous
                            </a></li>
                            <li class="list-group-item px-0"><a href="#scrollspyHeading4">Часові форми, що
                                використовуються у Past Continuous</a></li>
                            <li class="list-group-item px-0"><a href="#scrollspyHeading5">Рекомендації</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 position-relative" id="scrollspyHeading1">
                    <p class="font-title"><strong>Загальні правила формування</strong> </p>
                    <p class="m-t-1">
                        <strong>Past Continuous</strong> використовується для вказування на процес, що відбувався
                        деякий час в минулому, при цьому має бути точно вказаний час, коли відбувалася дія або ж це
                        має бути зрозумілим з контексту речення. Нижче розглянуто правила утворення часу Past
                        Continuous в стверджувальному, заперечному та питальному реченнях, допоміжні слова та
                        приклади його використання.
                    </p>
                </div>
                <div class="row mt-5 position-relative col-12">
                    <p class="font-medium"><strong>Стверджувальне речення</strong></p>
                    <p class=" m-t-1"><strong>Past Continuous (Past Progressive)</strong> утворюється за допомогою
                        допоміжного
                        дієслова <strong>was або were</strong> та форми простого дієприкметника теперішнього часу
                        (дієслово з
                        закінченням <strong>-ing</strong>). <strong>Was та were</strong> – це форми минулого часу
                        допоміжного дієслова to be.</p>
                    <p class=" m-t-1">Вибір необхідної форми залежить від підмета (головного члена речення), його
                        особи та числа.
                        <strong>Was</strong> – використовується, коли підмет виражений займенником або іменником в
                        однині (<strong>I,
                            he,
                            she, it</strong>).
                        <strong>Were</strong> – використовується, коли підмет виражений займенником або іменником у
                        формі множини
                        (<strong>we, they</strong>) або ж разом з займенником <strong>you</strong> (ти, ви, ввічливе
                        Ви).
                    </p>
                    <div class="row mt-5">
                        <div class="col-1"></div>
                        <div class="col-10 gremma-left-border fst-italic">
                            <p>I <span class="font-color-ligth-green">was</span> sing<span
                                    class="font-color-ligth-green">ing</span> a song. – Я співав пісню.</p>
                            <p>She <span class="font-color-ligth-green">was</span> drink<span
                                    class="font-color-ligth-green">ing</span> tea. – Вона пила чай.</p>
                            <p>They <span class="font-color-ligth-green">were</span> watch<span
                                    class="font-color-ligth-green">ing</span> the movie. – Вони дивилися кіно.p>
                        </div>
                    </div>
                    <div class="row p-3 background-light-blue mt-5">
                        <p class=""><strong>Зверніть увагу</strong> на те, що є різні правила додавання
                            <strong>закінчення -ing</strong>
                            до дієслів.
                            Рекомендуємо
                            ознайомитись з окремою <a href="#">статтею на цю тему</a>.
                        </p>
                        <div class="row justify-content-center">
                            <div class="col-10 mt-5">
                                <p>to enter - enter<span class="font-color-ligth-green">ing</span></p>
                                <p>to lie - l<span class="font-color-ligth-green">ying</span> </p>
                                <p>to take → tak<span class="font-color-ligth-green">ing</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <p class="font-medium"><strong>Заперечне речення</strong> </p>
                        <p class=" m-t-1">Заперечення в Past Continuous утворюється за допомогою додавання частки
                            not після допоміжного дієслова was або were. Загальний порядок слів в реченні не
                            змінюється.</p>
                        <div class="row mt-5">
                            <div class="col-1"></div>
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>I <span class="font-color-ligth-green">was not</span>singing a song when you
                                    came. – Я не співала пісню, коли ти прийшов.</p>
                                <p>She <span class="font-color-ligth-green">was not</span>drinking tea at 3 p.m. –
                                    Вона не пила чай о 3-й дня.</p>
                                <p>They <span class="font-color-ligth-green">were not</span> watching the movie when
                                    you called them. – Вони не дивилися кіно, коли ти їм зателефонував.

                                </p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-10">
                                <p class="text-center background-light-blue mt-3 p-1"><span
                                        class="font-color-ligth-green">was not = wasn't</span> (скорочення)</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <p class="font-medium"><strong>Питальне речення</strong> </p>
                        <p class=" m-t-1">Загальне питання в <strong>Past Continuous</strong> утворюється шляхом
                            винесення допоміжних
                            дієслів was або were на початок речення перед підметом.</p>
                        <div class="row mt-5">
                            <div class="col-1"></div>
                            <div class="col-10 gremma-left-border fst-italic">
                                <p><span class="font-color-ligth-green">Was</span> I singing a song? – Я співала
                                    пісню?</p>
                                <p><span class="font-color-ligth-green">Was</span> she drinking tea? – Вона пила
                                    чай?</p>
                                <p><span class="font-color-ligth-green">Were</span> they watching the movie? – Вони
                                    дивилися кіно?</p>
                            </div>
                        </div>
                        <p class="mt-5">Спеціальне питання в <strong>Past Continuous</strong> утворюється за
                            допомогою питального
                            слова або фрази, що ставиться в самий початок речення. Подальший порядок слів такий
                            самий, як і в загальному питанні з <strong>Past Continuous</strong> (<strong>was,
                                were</strong> + підмет + дієслово з
                            -ing).</p>
                        <div class="row justify-content-center mt-5">
                            <div class="col-10 fst-italic">
                                <p><span class="font-color-ligth-green">What was</span> I singing at karaoke at the
                                    same time yesterday? – Що я співав в караоке
                                    в цей самий час вчора?</p>
                                <p><span class="font-color-ligth-green">What was</span> she doing her hometask? –
                                    Коли вона виконувала своє домашнє завдання?</p>
                                <p><span class="font-color-ligth-green">Where were</span> they watching the movie
                                    when the fire began? – Де вони дивилися кіно, коли почалася пожежа?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5" id="scrollspyHeading3">
                        <p class="font-title"><strong>Використання Past Continuous
                        </strong> </p>
                        <p class="font-medium mt-5"><strong>Тривалі дії в певний проміжок часу в минулому</strong>
                        </p>
                        <p class=" mt-3"><strong>Past Continuous</strong> використовується для вираження дій, що
                            відбувалися в
                            конкретний, точно відомий момент або проміжок часу в минулому.</p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>Yesterday <span class="font-color-ligth-green">at 10 p.m.</span> I was climbing
                                    the tree. – Вчора о 10-й вечора я вилазила на
                                    дерево.</p>
                                <p>At <span class="font-color-ligth-green">5 o’clock</span> yesterday evening my
                                    sister was flying from Sydney. – Вчора о 5-й
                                    моя сестра летіла з Сіднея.</p>
                                <p><span class="font-color-ligth-green">At the same time</span> two years ago we
                                    were visiting my parents. – В цей же час два
                                    роки тому ми провідували моїх батьків.</p>
                            </div>
                        </div>
                        <p class=" mt-5">Точний момент часу в <strong>Past Continuous</strong> може уточнюватися або
                            перериватися
                            іншою короткочасною дією, вираженою в <strong>Past Simple</strong>.</p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic fst-italic">
                                <p>She was cleaning the house <span class="font-color-ligth-green">when the phone
                                            rang</span>. – В той час, коли вона
                                    прибиралася в домі, задзвонив телефон.</p>
                                <p>John was cooking dinner <span class="font-color-ligth-green">when he suddenly cut
                                            his finger</span>. – Коли Джон готував
                                    обід, він раптово порізав собі палець.</p>
                                <p>Helen was using the blender so <span class="font-color-ligth-green">she didn’t
                                            hear you came in</span>. – Хелен користувалася блендером, тому вона не чула,
                                    як ти увійшов.</p>
                            </div>
                        </div>
                        <p class=" mt-5">Слова while («в той час, як», «поки») та when («коли») підкреслюють та
                            використовуються з різними частинами складнопідрядного речення. Як правило, після слова
                            while вживається Past Continuous, а після when вживається Past Simple.</p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic fst-italic">
                                <p><span class="font-color-ligth-green">While</span> I was typing my report everyone
                                    left the office. – Поки я друкувала свій
                                    звіт, всі залишили офіс.</p>
                                <p><span class="font-color-ligth-green">While</span> I was eating my soup, he came
                                    home. – В той час, коли я їв суп, він прийшов
                                    додому.</p>
                                <p><span class="font-color-ligth-green">When</span> Dana broke the cup I was making
                                    some cakes. – Коли Дана розбила чашку, я
                                    готувала тістечка.</p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Одночасні дії у минулому</strong> </p>
                        <p class="mt-3"><strong>Past Continuous</strong> використовується для вираження в одному
                            реченні декількох
                            дій, що відбувалися одночасно в минулому.</p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>She <span class="font-color-ligth-green">was doing</span> her makeup while she
                                    <span class="font-color-ligth-green">was talking</span> over the
                                    telephone. – Вона робила
                                    макіяж в той час, коли розмовляла по телефону.
                                </p>
                                <p>They <span class="font-color-ligth-green">were drinking</span> a cup of coffee
                                    while they <span class="font-color-ligth-green">were sitting</span> at that
                                    restaurant. –
                                    Вони пили каву, поки сиділи в тому ресторані.</p>
                                <p>We <span class="font-color-ligth-green">were eating</span> delicious pasta while
                                    we <span class="font-color-ligth-green">were watching</span> a new cartoon. – Ми
                                    їли
                                    смачну пасту, коли дивилися новий мультик.</p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Вираження несхвалення, роздратування</strong> </p>
                        <p class="mt-3"><strong>Past Continuous</strong> використовується для
                            вираження несхвалення, нетерплячості або роздратованості певною дією в минулому. В
                            такому значенні <strong>Past Continuous</strong> здебільшого використовується зі словами
                            <strong>always</strong> (завжди,
                            постійно), <strong>often</strong> (часто), <strong>constantly</strong> (постійно). Ці
                            слова вживаються між допоміжними
                            дієсловами <strong>was</strong> або <strong>were</strong> та смисловим дієсловом з
                            закінченням <strong>-ing</strong> (формою
                            дієприкметника).
                        </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>He was <span class="font-color-ligth-green">always</span> interrupting me when I
                                    was talking. – Він завжди (постійно) мене
                                    переривав, коли я говорив. </p>
                                <p class="mt-1">She was <span class="font-color-ligth-green">constantly</span>
                                    losing our keys on the vocation. – На відпочинку
                                    вона постійно губила наші ключі.</p>
                                <p class="mt-1">We were <span class="font-color-ligth-green">often</span> waiting
                                    for that friend of his. He was so slow. – Ми
                                    часто чекали того його друга. Він був таким повільним.</p>
                                <p class="mt-1">As she was <span class="font-color-ligth-green">always</span>
                                    inspecting my stuff I didn’t like her. – Так як
                                    вона постійно перевіряла мої речі, я її не любив.</p>
                            </div>
                        </div>
                        <p class="mt-5">
                            В такому значенні <strong>Past Continuous</strong> зхожий на конструкцію used to, однак
                            відрізняється від
                            неї своїм негативним відтінком.
                        </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>He <span class="font-color-ligth-green">used to</span> worry about money too
                                    much. – Він занадто багато піклувався про гроші.
                                </p>
                                <p class="mt-1">Clark <span class="font-color-ligth-green">used to</span> complain
                                    constantly about anything. – Кларк постійно
                                    через все жалівся.</p>
                            </div>
                        </div>
                        <p class="font-medium mt-5"><strong>Заплановані дії, що не відбулися</strong> </p>
                        <p class="mt-3"><strong>Past Continuous</strong> використовується для вираження запланованих
                            дій в минулому,
                            що, однак, не відбулися. Часто в таких реченнях використовуються дієслова
                            <strong>mean</strong>
                            (збиратися, мати намір), <strong>intend</strong> (мати на меті, збиратися, задумати),
                            <strong>hope</strong> (сподіватися),
                            <strong>expect</strong> (очікувати), <strong>think</strong> (думати, гадати),
                            <strong>plan</strong> (планувати).

                        </p>
                        <div class="row mt-5 justify-content-center">
                            <div class="col-10 gremma-left-border fst-italic">
                                <p>I was <span class="font-color-ligth-green">hoping</span> to meet her at the
                                    bookstore but she didn’t come. – Я сподівався
                                    зустріти її в книжковому магазині, але вона не прийшла.</p>
                                <p class="mt-1">My mother was <span class="font-color-ligth-green">thinking</span>
                                    of cooking a pie but we wanted some pizza. –
                                    Моя мати думала приготувати пиріг, але ми хотіли піццу.</p>
                                <p class="mt-1">Tom was <span class="font-color-ligth-green">planning</span> to buy
                                    these tickets for the concert but forgot his
                                    wallet at home. – Том збирався купити ці квитки на концерт, але забув всій
                                    гаманець вдома. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <p class="font-title" id="scrollspyHeading4"><strong>Часові форми, що використовуються у
                            <strong>Past Continuous</strong>
                        </strong> </p>
                        <p class="mt-5"><strong>Past Continuous</strong> використовується, якщо на
                            питання «коли це відбувалося?» можна вказати точний, конкретний час або проміжок часу в
                            минулому.</p>
                        <div class="row mt-5 justify-content-center fst-italic">
                            <div class="col-10">
                                <p>at that moment – в той момент</p>
                                <p>at the same time – в цей же час (у минулому)</p>
                                <p>while – в той час, як; поки</p>
                                <p>when – коли</p>
                                <p class="mt-3">all morning / the whole morning – протягом всього ранку, весь ранок</p>
                                <p>all night (long) / the whole night – протягом всієї ночі, всю ніч</p>
                                <p>all evening / the whole evening – протягом всього вечора, весь вечір</p>
                                <p class="mt-3">last year – минулого року, в минулому році</p>
                                <p>last week – минулого тижня</p>
                                <p>last year – минулого року, в минулому році</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <p class="font-title fw-bold" id="scrollspyHeading5">Рекомендації</p>
                        <div class="row p-0 m-0 mt-5 justify-content-between">
                            <p class="fw-bold font-medium">
                                Матеріали, які варто дослідити
                            </p>
                            <th:block th:if="${test_list}">
                                <div class="col-12 row m-0">
                                    <th:block th:each="test, state : ${test_list}">
                                        <div class="col-4">
                                            <div class="card">
                                                <div class="card-header btn-tests p-2">
                                                    <p><a th:href="@{/testing/{id}(id=${test.getId})}" style="color: white;" th:text="${test.getTest_name}"></a></p>
                                                </div>
                                                <div class="card-body p-2">
                                                    <p class="" th:text="${test.getTest_description}"></p>
                                                    <p class="tag-font"><a href="#">PastSimple</a> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                            <th:block th:th:unless="${test_list}">
                                <p>Зараз немає доступних матеріалів на цю тему</p>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
        <div class="navigation-bar "></div>
    </div>
</div>
<script src="../bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
<script src="arrow_rotate.js"></script>
</body>

</html>