<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <th:block th:replace="fragments/header :: header_links"></th:block>
    <title>Past Simple | SIH</title>
    <!--sec:authorize="hasAuthority('ROLE_ADMIN')"-->
</head>

<body>
<div class="container-body position-relative">
    <nav th:replace="fragments/navBar :: nav"></nav>
    <div class="col-12 row mx-0 justify-content-center">

        <div class="row justify-content-center py-5">
            <div class="col-12 col-md-11 col-lg-10 row m-0">
                <p class="font-header">
                    Що Ви б хотіли прочитати?
                </p>
            </div>
        </div>
        <div class="row justify-content-center pb-3">
            <div class="col-12 col-md-11 col-lg-10 row m-0">
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph1.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>6 relationships resolutions to make this year</p>
                        <p class="font-small">Most of us intuitively know that having close, supportive
                            relationships is important to our [...].</p>
                        <p class="mt-1"><a href="#" class="tag-link">B1-B2</a><a href="#"
                                                                                 class="tag-link ms-2">Social</a><a href="#" class="tag-link ms-2">Funny</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph2.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>2 words that can help check your assumptions about people</p>
                        <p class="font-small">Asking “so what?” can bring out your hidden beliefs and ideas, says
                            career strategist Gail Tolstoi-Miller.</p>
                        <p class="mt-1"><a href="#" class="tag-link">B2-C1</a><a href="#"
                                                                                 class="tag-link ms-2">Sad</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph3.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>5 tips to writing email that will always get you replay</p>
                        <p class="font-small">Emails are just as fundamental these days as food and water in our
                            lives, and they form a large part of [...]</p>
                        <p class="mt-1"><a href="#" class="tag-link">B2-C1</a><a href="#"
                                                                                 class="tag-link ms-2">Sad</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-11 col-lg-10 row m-0">
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph1.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>6 relationships resolutions to make this year</p>
                        <p class="font-small">Most of us intuitively know that having close, supportive
                            relationships is important to our [...].</p>
                        <p class="mt-1"><a href="#" class="tag-link">B1-B2</a><a href="#"
                                                                                 class="tag-link ms-2">Social</a><a href="#" class="tag-link ms-2">Funny</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph2.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>2 words that can help check your assumptions about people</p>
                        <p class="font-small">Asking “so what?” can bring out your hidden beliefs and ideas, says
                            career strategist Gail Tolstoi-Miller.</p>
                        <p class="mt-1"><a href="#" class="tag-link">B2-C1</a><a href="#"
                                                                                 class="tag-link ms-2">Sad</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph3.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>5 tips to writing email that will always get you replay</p>
                        <p class="font-small">Emails are just as fundamental these days as food and water in our
                            lives, and they form a large part of [...]</p>
                        <p class="mt-1"><a href="#" class="tag-link">B2-C1</a><a href="#"
                                                                                 class="tag-link ms-2">Sad</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-11 col-lg-10 row m-0">
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph1.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>6 relationships resolutions to make this year</p>
                        <p class="font-small">Most of us intuitively know that having close, supportive
                            relationships is important to our [...].</p>
                        <p class="mt-1"><a href="#" class="tag-link">B1-B2</a><a href="#"
                                                                                 class="tag-link ms-2">Social</a><a href="#" class="tag-link ms-2">Funny</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph2.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>2 words that can help check your assumptions about people</p>
                        <p class="font-small">Asking “so what?” can bring out your hidden beliefs and ideas, says
                            career strategist Gail Tolstoi-Miller.</p>
                        <p class="mt-1"><a href="#" class="tag-link">B2-C1</a><a href="#"
                                                                                 class="tag-link ms-2">Sad</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
                <div class="col-4">
                    <img th:src="@{/img/sih_img/reading/ph3.svg}" class="w-100 border-radius-m">
                    <div class="col-12 background-read-green mt-1 border-radius-m p-2">
                        <p>5 tips to writing email that will always get you replay</p>
                        <p class="font-small">Emails are just as fundamental these days as food and water in our
                            lives, and they form a large part of [...]</p>
                        <p class="mt-1"><a href="#" class="tag-link">B2-C1</a><a href="#"
                                                                                 class="tag-link ms-2">Sad</a>

                        </p>
                        <div class="col-12 text-center"><a class="btn nav-btn-log mt-3" href="#"
                                                           role="button">Читати далі</a></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>
<script src="../bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
<script src="arrow_rotate.js"></script>
</body>

</html>